/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body,
html {
  height: 100%;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
@font-face {
  font-family: 'league_gothic';
  src: url('/fonts/league_gothic-webfont.eot');
  src: url('/fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/league_gothic-webfont.woff') format('woff'), url('/fonts/league_gothic-webfont.ttf') format('truetype'), url('/fonts/league_gothic-webfont.svg#league_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #E7E7E7;
  font-size: 16px;
}
h1,
h2 {
  line-height: 1;
  font-family: league_gothic;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  text-transform: uppercase;
  color: #666666;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@keyframes rollin_micro {
  0% {
    top: -545px;
  }
  70% {
    top: -50px;
  }
  100% {
    top: -60px;
  }
}
@keyframes rollin_small {
  0% {
    top: -545px;
  }
  70% {
    top: -35px;
  }
  100% {
    top: -55px;
  }
}
@keyframes rollin_full {
  0% {
    top: -545px;
  }
  70% {
    top: -24px;
  }
  100% {
    top: -44px;
  }
}
header {
  background: #666;
  overflow: hidden;
  position: relative;
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 103;
  box-shadow: 0 1px 4px 0 #000;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}
header #logo {
  text-indent: -999em;
  background: url('../img/logo.png') center center no-repeat;
  position: relative;
  display: block;
  margin: 1em auto 0 auto;
  width: 150px;
  padding: 10px 20px;
}
header nav {
  font-family: "league_gothic", sans-serif;
  font-size: 34px;
  padding: 20px;
  line-height: 34px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-align: center;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav li {
  display: inline-block;
  position: relative;
}
header nav li:after {
  position: absolute;
  width: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: skew(-20deg, 0);
  -moz-transform: skew(-20deg, 0);
  transform: skew(-20deg, 0);
  border: 2px solid rgba(255, 255, 255, 0.55);
  border-width: 0 2px 0 0;
  right: 0;
  content: "";
}
header nav li a {
  padding: 20px 10px;
  cursor: pointer;
  color: #FFF;
  text-decoration: none;
}
header nav li a:hover {
  opacity: .7;
}
header nav li:last-child:after {
  display: none;
}
header.shrink {
  top: -60px;
}
header + section {
  margin: 0;
  padding: 0;
}
#hero {
  background: #A7D172;
  height: 150px;
  border-bottom: 4px solid #666;
  clear: both;
  position: fixed;
  font-family: league_gothic;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: normal;
  font-size: 30px;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 130px;
  -webkit-transition: top .2s, height .2s;
  -moz-transition: top .2s, height .2s;
  transition: top .2s, height .2s;
}
#hero:after {
  position: absolute;
  width: 325px;
  height: inherit;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  left: -120px;
  content: "";
  bottom: 0px;
  -webkit-transform: skew(-22deg, 0);
  -moz-transform: skew(-22deg, 0);
  transform: skew(-22deg, 0);
}
#hero h2 {
  font-size: inherit;
  font-weight: inherit;
  color: #FFF;
  margin: 0;
  line-height: 150px;
  margin-left: 15px;
}
#hero aside {
  position: absolute;
  top: -60px;
  left: 160px;
  margin-left: 50px;
  -webkit-animation-name: rollin_micro;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
}
#hero aside ul {
  margin: 0;
  padding: 0;
}
#hero aside li {
  text-transform: uppercase;
  list-style: none;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.3);
}
#hero aside li.active {
  color: #ffffff;
}
footer {
  height: 211px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  background: #E7E7E7;
}
footer ul {
  padding: 0;
  margin-bottom: 2em;
}
footer ul li:nth-child(3) {
  position: relative;
}
footer ul li:nth-child(3):after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -35px;
  border: 20px solid rgba(0, 0, 0, 0);
  border-bottom-color: #666;
  margin-left: -20px;
}
footer ul li:not(:first-child) {
  display: inline-block;
  vertical-align: middle;
}
footer ul li:not(:first-child) a {
  background: #A7D172;
  border-radius: 60px;
  padding: 35px;
  position: relative;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  display: inline-block;
  text-decoration: none;
}
footer ul li:not(:first-child) a:hover {
  background: #9AC06B;
}
footer ul li:not(:first-child) i {
  vertical-align: middle;
  color: #FFF;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -20px;
  font-size: 41px;
  left: 35px;
  top: 35px;
}
footer ul li:not(:first-child) i.icon-facebook {
  right: 12px;
  left: auto;
  bottom: -5px;
  top: auto;
  font-size: 56px;
}
footer ul li:not(:first-child) i.icon-envelope {
  left: 31px;
  top: 33px;
}
footer ul li:first-child {
  display: block;
  font-family: league_gothic;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 35px;
  text-transform: uppercase;
  vertical-align: middle;
  margin-right: .5em;
}
footer #twitter {
  font-size: 13px;
  background: #666;
  color: #E7E7E7;
  padding: 1em;
  position: relative;
}
footer #twitter .tweet {
  display: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: inline-block;
}
footer #twitter .tweet a {
  font-weight: bold;
  color: #E7E7E7;
  text-decoration: none;
}
footer #twitter .tweet a:hover {
  text-decoration: underline;
}
#portfolio {
  margin-top: 3em;
}
#portfolio aside img {
  margin: auto;
  display: block;
  -moz-box-shadow: 0 1px 3px -1px #000;
  box-shadow: 0 1px 3px -1px #000;
  width: 100%;
  max-width: 100%;
}
#portfolio h2 {
  line-height: 1;
  font-size: 30px;
  font-family: league_gothic;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  text-transform: uppercase;
  color: #666;
}
#portfolio article h3,
#portfolio article h4 {
  padding: 0;
  margin: 0;
  color: #666;
}
#portfolio article h3 {
  margin-top: 1em;
  line-height: 1;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  margin-bottom: .5em;
}
#portfolio article p {
  margin-top: 0;
}
#portfolio ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#portfolio ul li {
  border: 1px solid #CCC;
  padding: 1em;
  background: rgba(255, 255, 255, 0.4);
  margin-bottom: 3em;
}
form #curtain {
  background: rgba(255, 255, 255, 0.5) url(../img/loading.gif) center center no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
form.thinking #curtain {
  display: block;
}
form ul {
  font-size: 13px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
form ul li {
  padding: 5px 0;
}
form label {
  display: block;
}
form input[type=text],
form input[type=email],
form textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #AAAAAA;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form input[type=text].error,
form input[type=email].error,
form textarea.error {
  border: 2px solid #CC6060;
}
form .alert:not(:empty).alert-error {
  color: #CC6060;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 1em;
}
form textarea {
  height: 100px;
}
form h2 {
  font-family: league_gothic;
  text-transform: uppercase;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 .5em 0;
}
form #buttons {
  text-align: right;
}
form #buttons li {
  display: inline-block;
}
form #buttons a {
  display: inline-block;
  padding: 10px 20px;
  vertical-align: middle;
  text-decoration: none;
  color: #666;
}
form #buttons button[type=submit] {
  background: #A7D172;
  padding: 10px 25px;
  vertical-align: middle;
  border: 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  border: 1px solid #9AC06B;
  border-radius: 3px;
}
.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
}
#success {
  position: fixed;
  z-index: 103;
  left: 0;
  right: 0;
  top: -40px;
  padding: .5em;
  background: #C7E7C1;
  z-index: 104;
  text-align: center;
  color: #496345;
  border-bottom: 1px solid #496345;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  transition: top 1s;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-hide {
  display: none !important;
}
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #cccccc;
}
.mfp-preloader a:hover {
  color: white;
}
.mfp-s-ready .mfp-preloader {
  display: none;
}
.mfp-s-error .mfp-content {
  display: none;
}
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}
.mfp-close-btn-in .mfp-close {
  color: #333333;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px;
}
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}
.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
}
.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f;
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}
/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}
/* The shadow behind the image */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444;
}
.mfp-figure {
  line-height: 0;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-image-holder .mfp-content {
  max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  /* The shadow behind the image */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.mfp-ie7 .mfp-img {
  padding: 0;
}
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.mfp-ie7 .mfp-container {
  padding: 0;
}
.mfp-ie7 .mfp-content {
  padding-top: 44px;
}
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
section {
  max-width: 1000px;
  margin: auto;
  position: relative;
}
body > section {
  padding: 0 20px;
}
.banner {
  padding: 10px;
  border-left: 4px solid #A7D172;
  background: rgba(167, 209, 114, 0.4);
  border-radius: 3px;
  margin-bottom: 2em;
}
#contentWrapper {
  padding: 20px;
  position: relative;
  z-index: 102;
  background: #E7E7E7;
  transition: margin .2s;
}
.front #contentWrapper {
  margin-top: 270px;
  border-top: 4px solid #666666;
}
.not-front #contentWrapper {
  margin-top: 130px;
}
.error-404 #contentWrapper {
  display: none;
}
#contentWrapper #content {
  margin: auto;
  max-width: 1000px;
  box-sizing: border-box;
  line-height: 1.6em;
  font-size: 13px;
}
#contentWrapper #content > img {
  max-width: 100%;
}
#contentWrapper aside h3 {
  margin-top: 0;
  font-family: league_gothic;
  font-size: 30px;
  line-height: 1.5em;
  color: #666666;
  text-transform: uppercase;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#contentWrapper a {
  color: #666666;
  text-decoration: none;
  font-weight: bold;
}
#contentWrapper a:hover {
  text-decoration: underline;
}
#container {
  min-height: 100%;
  position: relative;
  overflow: auto;
}
#site {
  padding-bottom: 207px;
}
@media (min-width: 480px) {
  header nav li a {
    padding: 20px;
  }
  #hero {
    font-size: 40px;
    height: 250px;
  }
  #hero:after {
    width: 380px;
    left: -80px;
  }
  #hero h2 {
    margin-left: 50px;
    line-height: 250px;
  }
  #hero aside {
    left: 255px;
    top: -55px;
    -webkit-animation-name: rollin_small;
    animation-name: rollin_small;
  }
  #hero ul li {
    line-height: 40px;
  }
  .front #contentWrapper {
    margin-top: 370px;
  }
  #site {
    padding-bottom: 158px;
  }
  footer {
    height: 162px;
    background: #E7E7E7;
  }
  footer ul li:first-child {
    display: inline-block;
  }
}
@media (min-width: 585px) {
  #hero {
    top: 75px;
  }
  header #logo {
    float: left;
    display: inline-block;
    margin: 1em 0 1em 20px;
    transition: all .2s;
  }
  header nav {
    float: right;
    text-align: left;
  }
  header.shrink {
    top: 0;
  }
  header.shrink #logo {
    margin: 1em 0 1em 20px;
  }
  .front #contentWrapper {
    margin-top: 320px;
  }
  .not-front #contentWrapper {
    margin-top: 100px;
  }
  #contentWrapper #content {
    padding: 0 40px;
  }
  #contentWrapper #portfolio aside {
    display: inline-block;
    width: 40%;
    margin-right: 5%;
  }
  #contentWrapper #portfolio aside img {
    max-width: 100%;
  }
  #contentWrapper #portfolio article {
    display: inline-block;
    width: 53%;
    vertical-align: top;
  }
  #contentWrapper #portfolio article h3,
  #contentWrapper #portfolio article h4 {
    padding: 0;
    margin: 0;
  }
  #contentWrapper #portfolio article h3 {
    margin-top: 0;
    margin-bottom: .5em;
  }
  #contentWrapper #portfolio article p {
    margin-top: 0;
  }
  #contentWrapper #portfolio ul li {
    padding: 0;
    background: transparent;
    border-width: 0;
  }
  #contentWrapper aside {
    display: inline-block;
    width: 49%;
  }
  #contentWrapper aside h3 {
    margin: 0;
    margin-right: 1em;
  }
  #contentWrapper #intro {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    font-size: 13px;
  }
  #contentWrapper #intro p:first-child {
    margin-top: 0;
  }
  #contact label {
    display: inline-block;
    width: 30%;
  }
  #contact input[type=text],
  #contact input[type=email],
  #contact textarea {
    width: 70%;
    display: inline-block;
  }
}
@media (min-width: 665px) {
  #hero {
    top: 70px;
    font-size: 60px;
    height: 400px;
  }
  #hero:after {
    width: 500px;
  }
  #hero h2 {
    font-size: inherit;
    font-weight: inherit;
    color: #FFF;
    margin: 0;
    line-height: 400px;
    margin-left: 50px;
  }
  #hero aside {
    top: -44px;
    left: 375px;
    margin-left: 50px;
    -webkit-animation-name: rollin_full;
    animation-name: rollin_full;
  }
  #hero aside ul {
    margin: 0;
    padding: 0;
  }
  #hero aside li {
    text-transform: uppercase;
    list-style: none;
    line-height: 54px;
    color: rgba(255, 255, 255, 0.3);
  }
  #hero aside li.active {
    color: #ffffff;
  }
  .front #contentWrapper {
    margin-top: 470px;
  }
  #contentWrapper aside h3 {
    font-size: 40px;
  }
  #contentWrapper #portfolio aside {
    width: 25%;
  }
  #contentWrapper #portfolio article {
    width: 65%;
  }
}
@media (min-width: 999px) {
  header #logo {
    margin-left: 0;
  }
  header.shrink #logo {
    margin-left: 0;
  }
  #hero:after {
    width: 50%;
  }
  #contentWrapper #content {
    margin-top: 40px;
  }
}
@media (min-width: 1025px) {
  header #logo {
    margin: 3em 0 3em 20px;
  }
  header nav {
    margin: 1.02em 0;
  }
  header.shrink nav {
    margin: 0;
  }
  header.shrink #logo {
    margin: 1em auto;
  }
  #hero {
    top: 140px;
  }
  .front #contentWrapper {
    margin-top: 530px;
  }
  .not-front #contentWrapper {
    margin-top: 160px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #logo {
    background-image: url('../img/logo@2x.png');
    background-size: 179px 41px;
  }
}
