@import './nocompile/normalize.less';
@import './nocompile/variables.less';
@import './includes/boilerplate.less';
@import './includes/helpers.less';
@import './includes/typography.less';
@import './includes/print.less';
@import './includes/animations.less';
@import './includes/sections/header.less';
@import './includes/sections/footer.less';
@import './includes/sections/portfolio.less';
@import './includes/sections/contact.less';
@import './nocompile/magnific-popup.less';

section {
    max-width:1000px;
    margin:auto;
    position:relative;
}

body {
    > section {
        padding:0 20px;
    }
}

.banner {
    padding: 10px;
    border-left: 4px solid #A7D172;
    background: fadeout(@green, 60%);
    border-radius: 3px;
    margin-bottom: 2em;
}

#contentWrapper {
    padding: 20px;
    position:relative;
    z-index:102;
    background:@lightGrey;
    -webkit-transition:margin .2s;
    -moz-transition:margin .2s;
    transition:margin .2s;

    .front & {
       margin-top: 270px;
        border-top:4px solid @darkGrey;
    }

    .not-front & {
        margin-top:130px;
    }

    .error-404 & {
        display:none;
    }

    #content {
        margin:auto;
        max-width:1000px;
        box-sizing:border-box;
        line-height:1.6em;
        font-size:13px;

        > img {
            max-width:100%;
        }
    }

    aside {
        h3 {
            margin-top:0;
            font-family:league_gothic;
            font-size:30px;
            line-height:1.5em;
            color:@darkGrey;;
            text-transform:uppercase;
            font-weight:normal;
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            font-smoothing: antialiased;
        }
    }

    a {
        color:@darkGrey;
        text-decoration:none;
        font-weight:bold;

        &:hover{
            text-decoration:underline;
        }
    }
}

#container {
    min-height:100%;
    position:relative;
    overflow:auto;
}

#site {
    padding-bottom:207px;
}

@media (min-width:480px) {
    header {
        nav {
            li {
                a {
                    padding:20px
                }
            }
        }
    }

    #hero {
        font-size:40px;
        height:250px;
        &:after {
            width:380px;
            left:-80px;
        }

        h2 {
            margin-left:50px;
            line-height:250px;
        }

        aside {
            left:255px;
            top:-55px;
            animation-name: rollin_small;
        }

        ul {

            li {
                line-height:40px;
            }
        }
    }

    .front {

        #contentWrapper {
            margin-top:370px;
        }
    }

    #site {
        padding-bottom:158px;
    }

    footer {
        height:162px;
        background:@lightGrey;

        ul {

            li{

                &:first-child {
                    display:inline-block;
                }
            }
        }
    }
}

@media (min-width:585px) {
    #hero {
        top:75px;
    }

    header {

        #logo {
            float:left;
            display:inline-block;
            margin:1em 0 1em 20px;
            -webkit-transition:all .2s;
            -moz-transition:all .2s;
            transition:all .2s;

        }

        nav {
            float:right;
            text-align:left;
        }

        &.shrink {
            top:0;

            #logo {
                margin:1em 0 1em 20px;
            }
        }
    }

    #contentWrapper {
        .front & {
            margin-top:320px;
        }

        .not-front & {
            margin-top:100px;
        }

        #content {
            padding:0 40px;
        }

        #portfolio {

            aside {
                display: inline-block;
                width: 40%;
                margin-right: 5%;
                img {
                    max-width: 100%;
                }
            }

            article {
                display: inline-block;
                width: 53%;
                vertical-align:top;
                h3,h4 {
                    padding:0;
                    margin:0;
                }
                h3 {
                    margin-top:0;
                    margin-bottom:.5em;
                }
                p {
                    margin-top:0;
                }

            }

            ul {
                li {
                    padding:0;
                    background:transparent;
                    border-width:0;
                }
            }
        }

        aside {
            display:inline-block;
            width:49%;

            h3 {
                margin:0;
                margin-right:1em;
            }
        }

        #intro {
            display:inline-block;
            width:49%;
            vertical-align:top;
            font-size:13px;
            p {
                &:first-child {
                    margin-top:0;
                }
            }
        }
    }

    #contact {

        label {
            display:inline-block;
            width:30%;
        }

        input[type=text],
        input[type=email],
        textarea {
            width:70%;
            display:inline-block;
        }
    }
}

@media (min-width:665px) {

    #hero {
        top:70px;
        font-size: 60px;
        height:400px;

        &:after {
            width:500px;
        }

        h2 {
            font-size:inherit;
            font-weight:inherit;
            color: #FFF;
            margin: 0;
            line-height: 400px;
            margin-left:50px;
        }

        aside {
            top: -44px;
            left:375px;
            margin-left:50px;
            -webkit-animation-name: rollin_full;
            -moz-animation-name: rollin_full;
            animation-name: rollin_full;

            ul {
                margin:0;
                padding:0;
            }
            li {
                text-transform: uppercase;
                list-style: none;
                line-height: 54px;
                color: rgba(255, 255, 255, 0.3);
                &.active{
                    color:rgba(255,255,255,1);
                }
            }
        }
    }

    #contentWrapper {

        .front & {
            margin-top:470px;
        }

        aside {
            h3 {
                font-size:40px;
            }
        }

        #portfolio {

            aside {
                width:25%;
            }

            article {
                width:65%;
            }
        }
    }

}

@media (min-width:999px) {
    header {

        #logo {
            margin-left:0;

        }

        &.shrink {

            #logo {
                margin-left:0;
            }
        }
    }

    #hero {

        &:after {
            width:50%;
        }
    }

    #contentWrapper {

        #content {
            margin-top:40px;
        }
    }
}

@media (min-width:1025px) {
    header {

        #logo {
            margin: 3em 0 3em 20px;
        }

        nav {
            margin:1.02em 0;
        }

        &.shrink {

           nav {
            margin:0;
           }

           #logo {
            margin:1em auto;
           }
        }
    }

    #hero {
        top:140px;
    }

    #contentWrapper {
        .front & {
            margin-top:530px;
        }
        .not-front & {
            margin-top:160px;
        }
    }
}

// High-density display
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #logo {
        background-image:url('../img/logo@2x.png');
        background-size:179px 41px;
    }
}


