@keyframes rollin_micro {
    0% {top:-545px;}
    70% {top:-50px;}
    100% {top:-60px;}
}

@keyframes rollin_small {
    0% {top:-545px;}
    70% {top:-35px;}
    100% {top:-55px;}
}

@keyframes rollin_full {
    0% {top:-545px;}
    70% {top:-24px;}
    100% {top:-44px;}
}
