@import '../nocompile/variables.less';

@font-face {
    font-family: 'league_gothic';
    src: url('/fonts/league_gothic-webfont.eot');
    src: url('/fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/league_gothic-webfont.woff') format('woff'),
         url('/fonts/league_gothic-webfont.ttf') format('truetype'),
         url('/fonts/league_gothic-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background:@lightGrey;
    font-size:16px;
}

h1, h2{
    line-height:1;
    font-family:league_gothic;
    -webkit-font-smoothing:antialiased;
    font-weight:normal;
    text-transform:uppercase;
    color:@darkGrey;
}

h1 {
    font-size:3rem;
}

h2 {
    font-size:2rem;
}
