form {

    #curtain {
        background:rgba(255,255,255,.5) url(../img/loading.gif) center center no-repeat;
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        display:none;
    }

    &.thinking {
        #curtain {
            display:block;
        }
    }

    ul {
        font-size:13px;
        list-style-type:none;
        margin:0;
        padding:0;

        li {
            padding:5px 0;
        }
    }

    label {
        display:block;
    }

    input[type=text],
    input[type=email],
    textarea {
        width:100%;
        padding:5px;
        border:1px solid #AAAAAA;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        &.error {
            border: 2px solid #CC6060;
        }
    }
    .alert:not(:empty) {

        &.alert-error {
            color: #CC6060;
            font-weight: bold;
            font-size: 13px;
            display: inline-block;
            margin-bottom: 1em;
        }
    }

    textarea {
        height:100px;
    }

    h2 {
        font-family: league_gothic;
        text-transform: uppercase;
        color: #666;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;
        font-size: 30px;
        font-weight: normal;
        margin:0 0 .5em 0;
    }

    #buttons {
        text-align:right;

        li {
            display:inline-block;
        }

        a {
            display:inline-block;
            padding:10px 20px;
            vertical-align:middle;
            text-decoration:none;
            color:#666;
        }

        button[type=submit] {
            background: #A7D172;
            padding: 10px 25px;
            vertical-align: middle;
            border: 0;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
            border: 1px solid #9AC06B;
            border-radius: 3px;
        }
    }
}

.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 400px;
    margin: 40px auto;
    position: relative;
}

#success {
    position:fixed;
    z-index:103;
    left:0;
    right:0;
    top:-40px;
    padding:.5em;
    background: #C7E7C1;
    z-index: 104;
    text-align: center;
    color: #496345;
    border-bottom: 1px solid #496345;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    transition: top 1s;
}
