
footer {
    height:211px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    overflow:hidden;
    background:#E7E7E7;

    ul {
        padding:0;
        margin-bottom: 2em;

        li {

           &:nth-child(3) {
              position:relative;

              &:after {
                  position: absolute;
                  content: "";
                  left: 50%;
                  bottom: -35px;
                  border: 20px solid rgba(0, 0, 0, 0);
                  border-bottom-color: #666;
                  margin-left: -20px;
               }
           }

            &:not(:first-child) {
                display:inline-block;
                vertical-align:middle;
                a {
                    background:#A7D172;
                    border-radius:60px;
                    padding:35px;
                    position:relative;
                    width:0;
                    height:0;
                    overflow:hidden;
                    line-height:0;
                    display:inline-block;
                    text-decoration:none;
                    &:hover {
                        background:#9AC06B;
                    }
                }

                i {
                    vertical-align: middle;
                    color:#FFF;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -16px;
                    margin-top: -20px;
                    font-size: 41px;
                    left:35px;
                    top:35px;
                    &.icon-facebook {
                        right: 12px;
                        left:auto;
                        bottom: -5px;
                        top: auto;
                        font-size: 56px;
                    }
                    &.icon-envelope {
                        left:31px;
                        top:33px;
                    }
                }
            }

            &:first-child {
                display:block;
                font-family:league_gothic;
                color:#666;
                -webkit-font-smoothing: antialiased;
                -moz-font-smoothing: antialiased;
                font-smoothing: antialiased;
                font-size:35px;
                text-transform: uppercase;
                vertical-align:middle;
                margin-right:.5em;
            }

        }
    }

    #twitter {
        font-size:13px;
        background: #666;
        color: #E7E7E7;
        padding: 1em;
        position: relative;

        .tweet {
            display:none;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width:100%;
            display:inline-block;

            a {
                font-weight:bold;
                color:#E7E7E7;
                text-decoration:none;

                &:hover {
                    text-decoration:underline;
                }
            }
        }
    }
}
