
header {
    background:#666;
    overflow:hidden;
    position:relative;
    z-index:1001;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:103;
    box-shadow:0 1px 4px 0 #000;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    transition:all .2s;

    #logo {
        text-indent: -999em;
        background: url('../img/logo.png') center center no-repeat;
        position: relative;
        display: block;
        margin: 1em auto 0 auto;
        width: 150px;
        padding: 10px 20px;
    }

    nav {
        font-family: "league_gothic", sans-serif;
        font-size: 34px;
        padding: 20px;
        line-height: 34px;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-align:center;
        -webkit-transition:all .2s;
        -moz-transition:all .2s;
        transition:all .2s;

        ul {
            margin:0;
            padding:0;
        }

        li {
            display:inline-block;
            position:relative;

            &:after {
                position:absolute;
                width:0;
                top:0;
                bottom:0;
                -webkit-transform:skew(-20deg,0);
                -moz-transform:skew(-20deg,0);
                transform:skew(-20deg,0);
                border:2px solid rgba(255,255,255,.55);
                border-width:0 2px 0 0;
                right:0;
                content:"";
            }

            a {
                padding:20px 10px;
                cursor:pointer;
                color:#FFF;
                text-decoration:none;
                &:hover {
                    opacity:.7;
                }
            }
            &:last-child {
                &:after {
                    display:none;
                }
            }
        }

    }

    &.shrink {
        top:-60px;
    }

}

header + section {
    margin:0;
    padding:0;
}

#hero {
    background:#A7D172;
    height:150px;
    border-bottom:4px solid #666;
    clear:both;
    position:fixed;
    font-family: league_gothic;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight:normal;
    font-size: 30px;
    overflow:hidden;
    left:0;
    right:0;
    top:130px;
    -webkit-transition:top .2s, height .2s;
    -moz-transition:top .2s, height .2s;
    transition:top .2s, height .2s;
     &:after {
        position: absolute;
        width: 325px;
        height: inherit;
        background: rgba(255,255,255,.2);
        top: 0;
        left: -120px;
        content: "";
        bottom: 0px;
        -webkit-transform: skew(-22deg,0);
        -moz-transform: skew(-22deg,0);
        transform: skew(-22deg,0);
    }

    h2 {
        font-size:inherit;
        font-weight:inherit;
        color: #FFF;
        margin: 0;
        line-height: 150px;
        margin-left:15px;
    }
    aside {
        position: absolute;
        top:-60px;
        left:160px;
        margin-left:50px;
        -webkit-animation-name: rollin_micro;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-iteration-count: 1;
        ul {
            margin:0;
            padding:0;
        }
        li {
            text-transform: uppercase;
            list-style: none;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.3);
            &.active{
                color:rgba(255,255,255,1);
            }
        }
    }
}
