
#portfolio {
    margin-top:3em;

    aside {
        img {
            margin:auto;
            display:block;
            -moz-box-shadow:0 1px 3px -1px #000;
            box-shadow:0 1px 3px -1px #000;
            width:100%;
            max-width:100%;
        }
    }

    h2 {
        line-height:1;
        font-size:30px;
        font-family:league_gothic;
        -webkit-font-smoothing:antialiased;
        font-weight:normal;
        text-transform:uppercase;
        color:#666;
    }

    article {

        h3,h4 {
            padding:0;
            margin:0;
            color:#666;
        }

        h3 {
            margin-top:1em;
            line-height:1;
            font-size:20px;
            -webkit-font-smoothing:antialiased;
            margin-bottom:.5em;
        }

        p {
            margin-top:0;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            border: 1px solid #CCC;
            padding: 1em;
            background: rgba(255, 255, 255, 0.4);
            margin-bottom:3em;
        }

    }
}
